.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  margin: 0 10px;
}

.sub-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: left;
  justify-content: left;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

hr {
  margin: 5px 0px 0px 0px;
}

.center {
  text-align: center;
}

/* styling for header */

.navbar {
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 0px;
  padding-right: 0px;
}

.logo-container {
  width: 50%;
}

.app-logo {
  margin-left: 0px !important;
  margin-top: 3px;
}

.provider-title {
  margin-left: 0px;
  display: block;
  font-weight: bold;
}

.description {
  margin-left: 0px;
}

.card-button {
  width: 200px;
  height: 200px;
}

.main-searchbar {
  padding-bottom: 20px;
}

.flex-container {
  display: flex;

}

.search-results {
  margin-right: 0px;
  width: 100%;

}

.card-buttons {
  height: 50px;
  width: 150px;
}